.cardd:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .cardd:hover .card-title {
    color: #007bff; /* Change title color on hover */
  }
  
  .cardd:hover .badge {
    background-color: #ffc107; /* Change badge background color on hover */
    color: #212529; /* Change badge text color on hover */
  }
  