
.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
  background: rgba(224, 223, 223, 0.64);

}

.Left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 103%;
}

.Chat-container22 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
}

.Chat-list {
  flex: 1; /* Fill remaining space */
  overflow-y: auto; /* Enable scrollbar */
  padding: 0 1rem; /* Add padding to avoid overlapping with scrollbar */
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Right-side-chat2 {
  background-color: rgb(94, 99, 99);
  display: flex;
  width: 22%;
  height: 60%;
}

.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation > div {
  position: relative;
}

.online-dot {
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}

.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}

.ChatBox-container2 {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60%;
  background-size: 100%;
  width: 350px;  /* Largeur de la boîte de chat */
  background-color: white; /* Couleur de fond */
  border-radius: 8px 8px 0 0; /* Coins arrondis */
  overflow-y: scroll;
  overflow-x: hidden; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* Ombre */
  margin-left: 0; /* Supprimer la marge à gauche */
  margin-right: 0; /* Supprimer la marge à droite */
}


@media screen and (max-width: 768px) {
 .Chat {
    grid-template-columns: 16% auto;
  }
   .follower.conversation>div>.name{
    display: none;
   }
}
